body, html {
	height:100%;
	margin: 0;
	padding: 0;
}
#contactWraper{
	display: flex;
	height: 100%;
}
#links{
	text-align: center;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%, -50%);

}

.link{
	width:0px;    
	margin: 20px 28px;
}