body {
	margin:0px;
padding:0px;
	width:100%;
	font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

::-webkit-scrollbar { 
    display: none; 
}
.navLink {
	cursor: pointer;
}
.section {
	width:100%;
	height:100vh;
	position: relative;
}
#menu
{
	display:none;
	position:fixed;
	top:0px;
	width: 100%;
	z-index: 10000;
	
}
#section1
{
	display: flex;
    align-items: center;
    text-align: center;
}


.nextChapter{
	background: hsla(0,0%,0%,.1);
	width:100%;
	height: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	
}
.nxtBtn{
	padding-top: 8px;
	margin: auto;
	width:60px;
	height:100%;
	background: #0C9EFF;
	text-align: center;
}
.downIcon {    
	display: inline-flex;
    background: url("../images/down-arrow.png") no-repeat;
    width: 20px;
    height: 20px;

}
.nxtBtn font{
	text-align: center;
	margin: auto;
	font-weight: bold;
}
.iframes{
	border: 0;
}
#galleryIframe{
	
    overflow:hidden;
    display: none;
}

.introduction {
    margin: 0 auto; 
	display: none;
}

.intro1{
    font-weight: bold;
	font-size: 120px;
	color: hsl(350,100%,62%);
}
.intro2{
	color: rgb(255, 61, 126);
	font-size: 60px;
}
.intro3 {
	color: rgb(195, 92, 255);
	    font-size: 44px;
}
@media only screen and (max-width: 767px) {
	.intro1{
    font-weight: bold;
	font-size: 50px;
	color: hsl(350,100%,62%);
}
.intro2{
	color: rgb(255, 61, 126);
	font-size: 28px;
}
.intro3 {
	color: rgb(195, 92, 255);
	    font-size: 26px;
}
}
.width-full {
	width:100% !important;
}
.sectionWraper{
	height:100%;
}